/* App.css */

  /* .event {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .event-content {
    background-color: #343a40;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .owl-theme .owl-nav [class*='owl-'] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #343a40;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .owl-theme .owl-nav [class*='owl-']:hover {
    background: #666;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #343a40;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }
  
  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
  }
   */